.professors {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #f6f8fa;
  align-items: center;

  .inner {
    display: flex;
    flex: 1;
    padding: 0px 120px;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      flex: 1;
      width: 100%;

      .search {
        margin-top: 32px;
        display: flex;
        align-items: center;
        position: relative;

        input {
          padding: 25px 28px;
          padding-right: 62px;
          background: #ffffff;
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.025);
          border-radius: 15px;
          width: 100%;
          border: none;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #5e657d;

          &::placeholder {
            color: #717a987c;
          }
        }

        svg {
          position: absolute;
          right: 28px;
        }
      }

      .container {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @media screen and (max-width: 1080px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  @media screen and (max-width: 1440px) {
    .inner {
      padding: 0px 60px;
    }
  }

  @media screen and (max-width: 640px) {
    .inner {
      padding: 0px 30px;
    }
  }

  @media screen and (max-width: 520px) {
    .inner {
      padding: 0px 15px;
    }
  }
}
