.professors {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #F6F8FA;
  align-items: center;

  .inner {
    display: flex;
    flex: 1;
    padding: 0px 120px;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;

    .content {
      display: flex;
      flex-direction: column;
      max-width: 1440px;
      flex: 1;
      width: 100%;

      .schedule {
        margin-top: 32px;
        display: flex;
        column-gap: 16px;
      }
    }
  }
}