.header {
  display: flex;
  padding: 0px 120px;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.025);
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    flex: 1;
    max-width: 1440px;
    align-items: center;

    .logo {
      display: flex;
      flex: 1;
    }

    .nav {
      display: flex;
      gap: 90px;
      flex: 1;
      justify-content: space-evenly;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #5e657d;
        cursor: pointer;

        &:hover {
          color: #2f82ff;
        }
      }

      .active {
        color: #2f82ff;
      }

      @media screen and (max-width: 1290px) {
        gap: 45px;
      }
    }

    .settings {
      display: flex;
      flex: 1;
      justify-content: flex-end;

      button {
        color: #5e657d;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 10px;
        border: none;
        background: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #5e657d;

        &:hover {
          color: #2f82ff;
        }
      }
    }

    @media screen and (max-width: 1190px) {
      .settings {
        display: none;
      }

      .nav {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1440px) {
    padding: 0px 60px;
  }

  @media screen and (max-width: 640px) {
    padding: 0px 30px;
  }
}
