.subject {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 25px;
  gap: 10px;
  height: 170px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.025);
  border-radius: 15px;
  position: relative;

  .tags {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -11px;
    padding: 0px 25px;

    .container {
      display: flex;
      align-items: center;
      column-gap: 5px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 25px;

    .name {
      display: flex;
      align-items: center;
      height: 38px;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #43495d;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .container {
      display: flex;
      align-items: center;
      column-gap: 15px;
    }
  }
}
