.practice {
  padding: 5px 8px 6px;
  background: #2f82ff;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.lecture {
  padding: 5px 8px 6px;
  background: #35C772;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.late {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f44336;
  border-radius: 7px;
  color: #fff;
  width: 28px;
  height: 28px;
}

.index {
  padding: 5px 8px 6px;
  background: #43495d;
  border-radius: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}