.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #43485b;
  }

  .group {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 18px 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: rgba(67, 72, 91, 0.5);
    }

    .name {
      display: flex;
      align-items: center;
      column-gap: 5px;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #43485b;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 24px;
        height: 24px;
        border: none;
        background: rgba(47, 130, 255, 0.1);
        border-radius: 24px;
        color: #0085ff;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .settings {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .item {
      display: flex;
      align-items: center;
      column-gap: 10px;

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #43485b;
      }
    }
  }

  .contribute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    backdrop-filter: blur(2px);

    p {
      font-weight: 600;
      font-size: 14px;
      color: #717a98;
      transition: 0.2s;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    svg {
      fill: #717a98;
      transition: 0.2s;
    }

    &:hover {
      transition: 0.2s;
      border-color: #43495d;

      svg {
        transition: 0.2s;
        fill: #43495d;
      }

      p {
        transition: 0.2s;
        color: #43495d;
      }
    }
  }
}
