.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #43485B;
  }

  .weeks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;

    button {
      aspect-ratio: 1 / 1;
      border: 1px solid #43485b1c;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      color: #43485b;
      font-weight: 500;
      font-size: 14px;

      &:hover {
        border-color: #0084ff3d;
        color: #0085ff;
        cursor: pointer;
      }
    }

    .active {
      border-color: #0085ff;
      color: #0085ff;

      &:hover {
        border-color: #0085ff;
      }
    }

    @media screen and (max-width: 560px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 430px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}