.container {
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.025);
  border-radius: 15px;
  height: 72px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}